.sign-up {
  display: flex;
  flex-direction: column;
  width: 25vw;

  .title {
    margin: 10px 0;
  }

  @media screen and (max-width: 1440px) {
    & {
      width: 30vw;

      .custom-button {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 640px) {
    & {
      width: 90vw;

      .sign-up-form {
        display: flex;
        flex-direction: column;

        .form-input {
          padding: 0;
        }

        .group {
          margin: 20px 0;
        }
      }

      .custom-button {
        width: 100%;
      }
    }
  }
}
